<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header {
            padding: 20px;
            text-align: center;
        }
        .header h1 {
            margin: 0;
            color: #1E90FF;
        }
        .centered-results {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            max-width: 800px;
            margin: 20px auto;
        }
        .results-table {
            margin-top: 20px;
        }
        .filter-container {
            margin: 20px 0;
        }
        .filter-regiao{
            margin-left: -50px;
        }
        .filtro-kv{
            margin-left: 300px;
        }
        .filter-kv{
            margin-top: -36px;
            margin-left: 820px;
        }
    </style>
</head>
<body>
<div class="" th:replace="Navbar/navbar :: navbar">
    <h1>CalcRaioX</h1>
</div>
<div class="container mt-4">
    <div class="header">
        <h1>Lista de Usuários</h1>
    </div>
    <div class="results-table">
        <h2 class="text-center mt-5"></h2>
        <h2 class="text-center mt-5"></h2>
        <div class="filter-container form-group row">
            <label for="filter-name" class="col-sm-2 col-form-label">Filtrar por Username:</label>
            <div class="col-sm-3 filter-name">
                <input type="text" id="filter-name" class="form-control" placeholder="Digite o Username">
            </div>
            <label for="filter-role" class="col-sm-2 col-form-label filtro-role">Filtrar por Role:</label>
            <div class="col-sm-3 filter-role">
                <input type="text" id="filter-role" class="form-control" placeholder="Digite a Role">
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="users-tbody">
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <div th:if="${user.username != username}">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                th:if="${user.roles.toString() == 'PENDING' or user.roles.toString() == 'USER' or user.roles.toString() == 'ADMIN'}"
                                th:data-target="'#modalEditar' + ${user.id}">
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                th:if="${user.roles.toString() != 'MASTER'}"
                                th:data-target="'#modalDeletar' + ${user.id}">
                            Deletar
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal de Edição -->
    <div th:each="user : ${users}" th:id="'modalEditar' + ${user.id}" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Cabeçalho da Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel">Editar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Corpo da Modal -->
                <div class="modal-body">
                    <!-- Formulário de Edição -->
                    <form th:action="@{/editar/{id}(id=${user.id})}" method="post">
                        <div class="form-group">
                            <label for="username">Novo Username:</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   th:value="${user.username}" required>
                        </div>
                        <div class="form-group">
                            <label for="role">Nova Role:</label>
                            <select class="form-control" id="role" name="role" required>
                                <option th:each="role : ${roles}"
                                        th:value="${role}" th:text="${role.toString()}"
                                        th:selected="${role == user.roles}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova Senha:</label>
                            <input type="password" class="form-control" id="novaSenha" name="novaSenha">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Deletar -->
    <div th:each="user : ${users}" th:id="'modalDeletar' + ${user.id}" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="modalDeletarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Cabeçalho da Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeletarLabel">Deletar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Corpo da Modal -->
                <div class="modal-body">
                    <p>Deseja realmente deletar o usuário <strong th:text="${user.username}"></strong>?</p>
                </div>
                <!-- Rodapé da Modal -->
                <div class="modal-footer">
                    <form th:action="@{/deletar/{id}(id=${user.id})}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    document.getElementById('filter-name').addEventListener('input', function() {
        filterTable();
    });

    document.getElementById('filter-role').addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        var filterName = document.getElementById('filter-name').value.toLowerCase();
        var filterRole = document.getElementById('filter-role').value.toLowerCase();
        var rows = document.querySelectorAll('#users-tbody tr');
        rows.forEach(function(row) {
            var name = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
            var role = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
            if (name.includes(filterName) && role.includes(filterRole)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
