<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="fixed-on-top" th:fragment="navbar">
  <header class="px-5 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom bg-dark">
    <a href="/api/home" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="https://sakai.primeng.org/assets/layout/images/logo-white.svg" alt="" width="72" height="40">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/api/home" class="nav-link px-2 link-light text-white">Home</a></li>
      <li><a href="/api/calculos/calcular" class="nav-link px-2 link-light text-white">Calculator</a></li>
      <li><a href="/api/calculos/logCalculo" class="nav-link px-2 link-light text-white">Calculator History</a></li>
      <div th:if="${isAdmin or isMaster}">
        <li><a href="/api/user-list" class="nav-link px-2 link-light text-white">Admin Panel</a></li>
      </div>
    </ul>
    <form class="d-flex flex-row" th:action="@{/logout}" method="post">
      <span class="nav-link px-2 link-light text-white mx-2">User: <span th:text="${username}"></span></span>
      <button class="btn btn-primary" type="submit">Logout</button>
    </form>
  </header>
</div>
</body>
</html>
